.footer{
    background-color: rgb(216, 216, 216);
    padding: 10px;
    margin-right: 0px;
    margin-top:1rem ;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}