nav{
    


min-height: 7vh;

display: flex;
align-items: center;
justify-content: space-between;
padding: 0;
.logo h2 {
 font-size: 1.1rem;
 padding: 0;
}

button{
    background: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

}